[Unit]
Description=Input Leap Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=YOUR_USERNAME
Environment=DISPLAY=:0
ExecStart=BINARY_PATH -f SERVER_ADDRESS
ExecStartPost=/bin/bash -c 'sleep 2 && setxkbmap -device $(xinput list --id-only "Virtual core XTEST keyboard") -layout KEYBOARD_LAYOUT'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
