[Unit]
Description=InputLeap Reconnect Check

[Service]
Type=oneshot
ExecCondition=/usr/bin/bash -c "! systemctl is-active --quiet inputleap.service"
ExecStart=/usr/bin/systemctl restart inputleap.service
