[Unit]
Description=Input Leap Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=BINARY_PATH -f SERVER_ADDRESS
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
